:root {
  --spacing-medium: 20%;
  --spacing-small:5rem;
  --spacing-x-small:2.5rem;
  --white: white;
  --gray: gray;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.footer {
  /* background color and text color for footer */
  background-color: rgb(239, 239, 239);
  border: 2px rgb(239, 239, 239) solid;
  border-top: 2px rgb(216, 216, 216) solid;
  color: var(--gray);
  height: 10vmin;
}

.footer-icons {
  color: black;
  padding-left: 1.5vmin;
  padding-right: 1.5vmin;
  height: 3vmin;
}

.image {
  height: auto;
  width: 18rem;
}
.resume {
  height: auto;
  width: 100vmin;
}

#menu {
  color: white;
  padding-left: 1.5vmin;
  padding-right: 1.5vmin;
}

.nav-container {
  background-color: black;
  height: 10vmin;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
